@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.text-title{
    margin-top: 2%;
    margin-bottom: 4%;
    font-family: 'Rubik Mono One', sans-serif;

}
.tooltip-contact{
    margin-bottom: 0.5%;
}